#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 300px;
  align-items: stretch;
  gap: 10%;
}

.item {
  background-color: blue;
}

#two {
  background-color: red;
  flex-grow: 10;
  align-self: flex-start;
}

#three {
  background-color: yellow;
  flex-grow: 5;
}

#item-a {
  grid-area: header;
  background-color: green;
}
#item-b {
  grid-area: main;
  background-color: red;
}
#item-c {
  grid-area: sidebar;
  background-color: cadetblue;
}
#item-d {
  grid-area: footer;
}
.grids {
  background-color: violet;
}

#grid {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(2, 1fr) 3fr 1fr;
  grid-template-rows: 50px 250px 50px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
